{% extends 'base.html.twig.' %}
{% block title %}AboutUs{% endblock %}

{% block body %}
    <div class="container">
    <h2 class="md-title text-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;    -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-text-size-adjust: 100%;box-sizing: border-box;font-weight: 500;vertical-align: baseline;background: transparent; font-family: inherit;text-align: center;text-transform: uppercase;color: #3a3f53;line-height: 1;margin-bottom: 60px;  margin-top: 60px;font-size: 42px;
   "><b>Our Story</b></h2>
    <div class="about-item" style="    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
    margin-bottom: 80px;">
        <div class="row">
            <div class="col-md-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><img class="img-responsive margin-auto" src="{{ asset('images/img_6.png') }}" width="550" height="320" caption="false"></div>
            <div class="col-md-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <h3 class="title">About us</h3>
                <div class="s-content">Techshop is one of the largest e-commerce platforms in Vietnam. It is a platform tailored for the region that makes online shopping easy, secure and fast through strong logistics and payment support</div>
                <div class="s-content">&nbsp; &nbsp;</div>
                <div class="s-content">For more information, please visit <a href="http://localhost:8000/product" target="_blank" rel="noopener noreferrer">http://localhost:8000/product</a><nsert link="" to="" local="" shopee="" site=""></nsert></div>
            </div>
        </div>
    </div>
        <div class="about-item" style="    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
    margin-bottom: 80px;">
            <div class="row">
                <div class="col-md-6 col-md-pull-6 text-right sm-left wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <h3 class="title">Our purpose</h3>
                    <div class="s-content">The TechShop team believes in the transformative power of technology and wants to change the world for the better by providing a platform to connect buyers and sellers in one community. As shopping online becomes the new norm, TechShop aims to continuously enhance its platform to deliver a seamless and enjoyable shopping experience for all users and be the region’s e-commerce platform of choice.</div>
                </div>
                <div class="col-md-6 col-md-push-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><img class="img-responsive margin-auto" src="{{ asset('images/img_7.png') }}" width="550" height="320" caption="false"></div>

            </div>
        </div>
    </div>
{% endblock %}