<footer class="footer container" style="border-top: 1px solid #e2e2e2">
    <section class="clearfix footer__top" style="    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color: #333;
    box-sizing: border-box;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    min-width: 980px;
    position: relative;
    display: block;
    padding: 15px 0 5px;">
        <div class="footer__col" style="    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    float: left;
    width: 33%;">
            <div>
                <a style="text-decoration: none; color: #333" href="#">Purchase history</a><br>
                <a style="text-decoration: none; color: #333" href="#">Return policies</a><br>
                <a style="text-decoration: none; color: #333" href="#">Learn about installment purchase</a><br>
                <a style="text-decoration: none; color: #333" href="#">Delivery &amp; Payment</a><br>
                <a style="text-decoration: none; color: #333" href="#">Purchase history</a><br>
                <a style="text-decoration: none; color: #333" href="#">Warranty Policy</a><br>
            </div>
        </div>
        <div class="footer__col" style="    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    float: left;
    width: 33%;">
            <div>
                   <a style="text-decoration: none; color: #333" href="#">Company Introduction</a><br>
                    <a style="text-decoration: none; color: #333" href="#">Recruit</a><br>
                    <a style="text-decoration: none; color: #333" href="#">Suggestions &amp; complaints</a><br>
                    <a style="text-decoration: none; color: #333" href="#">Store Location</a><br>
                    <a style="text-decoration: none; color: #333" href="#">View mobile version</a><br>

            </div>
        </div>
        <div class="footer__col"style="    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    float: left;
    width: 33%;">
            <div class="f-listtel">
                <p class="f-listtel__title">
                    <strong>Hotline (toll-free)</strong></p>
                <p class="f-listtel__content"><span>Call to buy:</span> <a href="tel:18001060">1800.1060</a> (7:30 - 22:00)
                </p>
                <p class="f-listtel__content"><span>Technical assistance:</span> <a href="tel:18001763">1800.1763</a> (7:30 - 22:00)
                </p>
                <p class="f-listtel__content"><span>Complain:</span> <a href="tel:18001062">1800.1062</a> (8:00 -
                    21:30)</p>
                <p class="f-listtel__content"><span>Insurance:</span> <a href="tel:18001064">1800.1064</a> (8:00 - 21:00)
                </p>
            </div>
        </div>

    </section>
{#        <div class="copyright" style="    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;#}
{#        color: #333;#}
{#        box-sizing: border-box;#}
{#        margin: 0;#}
{#        background-color: #f1f1f1;#}
{#        padding: 15px 0;">#}
{#            <div class="container">#}
{#                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">#}
{#                    <p class="col-md-4 mb-0 text-muted">© 2022 WebG301 - 0905, Sum</p>#}
{#    #}
{#                    <a href="/"#}
{#                       class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">#}
{#                    </a>#}
{#    #}
{#                    <ul class="nav col-md-4 justify-content-end">#}
{#                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>#}
{#                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>#}
{#                    </ul>#}
{#                </footer>#}
{#            </div>#}
{#    #}
{#        </div>#}
</footer>